@charset "UTF-8";

div.main {
  font: 16px 'Courier New';
  color:#3399ff;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

div.top {
  background-color: #3399ff;
  text-align: center;
  font: 30px 'Courier New';
  color: #fffff0;
}

div.title{
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

div.centered{
  display: flex;
  justify-content: center;
}

a{
  font: 16px 'Courier New';
}
a:link{
  color: #ff9900;
}

a:visited{
  color: #ff7700;
}

div.linkbar {
  background-color: #ffdd33;
  font:24px 'Courier New';
  width: 80%;
  color: #3399ff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

div.linkbar a:link{
  color: #0066ff;
}

div.linkbar a:visited{
  color: #0066ff;
}

p.output{
  color:#ff9900;
}
