div.bounceTrans:hover {
  -webkit-animation: bounce 1s both;
  animation: bounce 1s both;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

div.flashTrans:hover {
  -webkit-animation: flash 1s both;
  animation: flash 1s both;
}

div.rubberBandTrans:hover {
  -webkit-animation: rubberBand 1s both;
  animation: rubberBand 1s both;
}

div.shakeTrans:hover {
  -webkit-animation: shake 1s both;
  animation: shake 1s both;
}

div.swingTrans:hover {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: swing 1s both;
  animation: swing both;
}
